---
import Image from "astro/components/Image.astro";
import plus from "#assets/icons/plus.svg";

const { mainHeading, items } = Astro.props;
---

<div>
  <h2
    class="font-neueroman text-3xl text-secondary max-w-[1500px] text-center mx-auto py-10"
  >
    {mainHeading}
  </h2>
  <ul>
    {
      items.map((item, index) => (
        <li class="border-t border-secondary/40 text-secondary py-3 flex flex-col gap-5 last:border-b last:border-secondary/40">
          <h4
            class="font-neueroman flex flex-row justify-between text-2xl py-3 cursor-pointer"
            data-index={index}
          >
            {item.title}
            <Image src={plus} alt="plus icon" class="accordion-icon" />
          </h4>
          <p
            class="font-neuelight text-lg p-2 hidden accordion-content"
            data-index={index}
          >
            {item.description}
          </p>
        </li>
      ))
    }
  </ul>
</div>

<script>
  // Wait for the DOM to load
  document.addEventListener("DOMContentLoaded", () => {
    // Get all accordion headers (h4 elements)
    const headers = document.querySelectorAll("h4[data-index]");

    // Variable to keep track of the currently open accordion item
    let currentlyOpen = null;

    // Add a click event listener to each header
    headers.forEach((header) => {
      header.addEventListener("click", () => {
        // Get the data-index attribute to identify the clicked header
        const index = header.getAttribute("data-index");

        // Find the corresponding description using the data-index
        const content = document.querySelector(
          `.accordion-content[data-index="${index}"]`
        );

        // If there's a currently open accordion item, close it
        if (currentlyOpen !== null && currentlyOpen !== index) {
          const previouslyOpenContent = document.querySelector(
            `.accordion-content[data-index="${currentlyOpen}"]`
          );
          previouslyOpenContent.classList.add("hidden");

          const previouslyOpenIcon = document.querySelector(
            `h4[data-index="${currentlyOpen}"] .accordion-icon`
          );
          previouslyOpenIcon.classList.remove("rotate-45");
        }

        // Toggle the visibility of the clicked description
        content.classList.toggle("hidden");

        // Find the image inside the clicked header and rotate it
        const icon = header.querySelector(".accordion-icon");
        icon.classList.toggle("rotate-45");

        // Update the currently open accordion item
        currentlyOpen = content.classList.contains("hidden") ? null : index;
      });
    });
  });
</script>

<style>
  .hidden {
    display: none;
  }

  .rotate-45 {
    transform: rotate(225deg);
  }

  .accordion-icon {
    transition: transform 0.2s ease-in-out;
  }

  .cursor-pointer {
    cursor: pointer;
  }
</style>
