---
import Layout from "src/layouts/Layout.astro";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";

interface Props {
  title: string;
  description: any;
  subtitle: string;
}

let { title, subtitle, description } = Astro.props;

description = documentToHtmlString(description);
---

<Layout
  title={title}
  description={description}
  type="website"
  image="https://i.postimg.cc/1XcQr7cz/logo-large.png"
>
  <main class="min-h-[50vh] pt-32 max-w-[1500px] mx-auto px-10">
    <div class="flex flex-col items-center gap-10">
      <h1
        class="text-center lg:text-left font-neuelight font-bold text-3xl md:text-5xl"
      >
        {title}
        <div aria-hidden="true" class="h-2 w-[70%] mx-auto bg-tertiary mt-10">
        </div>
      </h1>

      <h2 class="text-2xl font-neueroman text-center text-gray-700">
        {subtitle}
        <div aria-hidden="true" class="h-1 w-[40%] mx-auto bg-secondary mt-10">
        </div>
      </h2>
    </div>

    <section
      set:html={description}
      class="prose-headings:font-bold prose-prose-h1:text-5xl prose-h2:text-4xl prose-h6:text-xl prose-h3:text-3xl prose-p:text-xl prose-p:py-2 last:prose-p:mb-0 prose-headings:pt-5 prose-headings:pb-3 prose-ol:list-decimal prose-ul:list-disc prose-ul:ml-7 prose-ol:ml-7 prose-a:text-tertiary pt-10 text-justify prose-blockquote:pl-4 prose-blockquote:border-l-4 prose-blockquote:border-secondary/10 prose-p:text-gray-700 prose-headings:text-secondary"
    />

    <slot />
  </main>
</Layout>
