---
import SectionHeader from "#components/Shared/SectionHeader.astro";
import Accordion from "#components/Shared/Accordion.astro";
import contentfulClient from "#lib/contentfulClient.ts";
import ContactForm from "#components/Shared/ContactForm.astro";
import InsightSection from "#components/Home/InsightSection.astro";
import PeopleSection from "#components/Home/PeopleSection.astro";

const mainHeading = "What Services We Offer";

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries({
    content_type: "service",
    include: 2,
  });

  const pages = await Promise.all(
    entries.items.map(async (item: any) => {
      // Get miniServices for this specific service
      const miniServices = await contentfulClient.getEntries({
        content_type: "miniService",
        "fields.mainService.sys.contentType.sys.id": "service",
        "fields.mainService.fields.slug": item.fields.slug,
        include: 2,
      });

      return {
        params: { slug: item.fields.slug },
        props: {
          title: item.fields.title,
          subtitle: item.fields.subtitle,
          description: item.fields.description,
          slug: item.fields.slug,
          miniServices: miniServices.items,
        },
      };
    })
  );

  return pages;
}

const { title, subtitle, description, miniServices } = Astro.props as any;

const items = miniServices.map((item: any) => ({
  title: item.fields.miniServiceTitle,
  description: item.fields.description,
  href: item.fields.slug,
}));
---

<SectionHeader title={title} description={description} subtitle={subtitle}>
  <Accordion items={items} mainHeading={mainHeading} />

  <div
    class="overflow-x-visible w-screen pt-10 relative left-1/2 -translate-x-1/2"
  >
    <PeopleSection />
    <InsightSection />
    <ContactForm />
  </div>
</SectionHeader>
