---
import SectionHeader from "#components/Shared/SectionHeader.astro";
import PersonDetails from "#components/Shared/PersonDetails.astro";
import ContactForm from "#components/Shared/ContactForm.astro";
import InsightSection from "#components/Home/InsightSection.astro";
import contentfulClient from "#lib/contentfulClient";

const entry = await contentfulClient.getEntries({
  content_type: "peoplePage",
});

const service = entry.items as any;

//Assign the first policy to policy as there should only be one
const services = service[0];

export async function getStaticPaths({ paginate }: any) {
  const entries = await contentfulClient.getEntries({
    content_type: "person",
  });

  const people = entries.items as any;

  return paginate(people, {
    pageSize: 12,
  });
}

const { page } = Astro.props as any;
---

<SectionHeader
  title={services.fields.title}
  description={services.fields.description}
  subtitle={services.fields.subtitle}
>
  <div class="overflow-x-visible w-screen relative left-1/2 -translate-x-1/2">
    <section>
      <ul
        class="grid lg:grid-cols-3 gap-y-16 lg:gap-x-16 py-10 px-5 lg:px-10 max-w-[1500px] mx-auto"
      >
        {
          page.data
            .sort((a, b) => a.fields.order - b.fields.order)
            .map((o) => (
              <PersonDetails
                name={o.fields.name}
                linkedIn={o.fields.linkedIn}
                email={o.fields.email}
                phoneNumber={o.fields.phoneNumber}
                image={{
                  src: o.fields.image.fields.file.url,
                  alt: o.fields.image.fields.title,
                }}
              />
            ))
        }
      </ul>
    </section>
    <InsightSection />
    <ContactForm />
  </div>
</SectionHeader>
