---
import SectionHeader from "#components/Shared/SectionHeader.astro";
import { contentfulClient } from "#lib/contentfulClient.ts";
import InsightCard, {
  type InsightProps,
} from "#components/Shared/InsightCard.astro";
import Pagination from "#components/Shared/Pagination.astro";

export async function getStaticPaths({ paginate }: any) {
  const entries = await contentfulClient.getEntries({
    content_type: "insight",
  });

  const insights = entries.items as any;

  return paginate(insights, {
    pageSize: 12,
  });
}

const { page } = Astro.props as any;
---

<SectionHeader
  title="Insights"
  description="At Kinyanjui Njeru & Co Advocates, our people are at the heart of everything we do. We believe that when our lawyers are fulfilled in their work, they deliver the best results for our clients. That’s why we built Kinyanjui Njeru & Co Advocates—to empower ambitious legal professionals with a platform that supports their career growth while ensuring clients receive top-tier legal services. In an industry driven by relationships, having a team that shares our expertise and values makes all the difference."
  subtitle="Exceptional law requires exceptional insights."
>
  <section class="mt-10 min-h-screen">
    <div
      class="mx-auto grid max-w-screen-2xl grid-cols-[repeat(auto-fill,24rem)] justify-center gap-10 py-10"
    >
      {
        page.data.map((i) => (
          <InsightCard
            title={i.fields.title}
            brief={i.fields.brief}
            slug={i.fields.slug}
            image={{
              src: i.fields.headlineImage.fields.file.url,
              alt: i.fields.headlineImage.fields.title,
            }}
          />
        ))
      }
    </div>

    <Pagination
      totalPages={page.totalPages}
      currentPage={page.currentPage}
      lastPage={page.lastPage}
      pagesToShow={page.lastPage > 3 ? 3 : page.lastPage}
      baseUrl="/insights"
    />
  </section>
</SectionHeader>
