---
import SectionHeader from "#components/Shared/SectionHeader.astro";
import contentfulClient from "#lib/contentfulClient.ts";
import InsightCard from "#components/Shared/InsightCard.astro";
import Pagination from "#components/Shared/Pagination.astro";

const entry = await contentfulClient.getEntries({
  content_type: "insightPage",
});

const service = entry.items as any;

//Assign the first policy to policy as there should only be one
const services = service[0];

export async function getStaticPaths({ paginate }: any) {
  const entries = await contentfulClient.getEntries({
    content_type: "insight",
  });

  const insights = entries.items as any;

  return paginate(insights, {
    pageSize: 12,
  });
}

const { page } = Astro.props as any;
---

<SectionHeader
  title={services.fields.title}
  description={services.fields.description}
  subtitle={services.fields.subtitle}
>
  <section class="mt-10 min-h-screen">
    <div
      class="mx-auto grid max-w-screen-2xl grid-cols-[repeat(auto-fill,24rem)] justify-center gap-10 py-10"
    >
      {
        page.data.map((i) => (
          <InsightCard
            title={i.fields.title}
            brief={i.fields.brief}
            slug={i.fields.slug}
            image={{
              src: i.fields.headlineImage.fields.file.url,
              alt: i.fields.headlineImage.fields.title,
            }}
          />
        ))
      }
    </div>

    <Pagination
      totalPages={page.totalPages}
      currentPage={page.currentPage}
      lastPage={page.lastPage}
      pagesToShow={page.lastPage > 3 ? 3 : page.lastPage}
      baseUrl="/insights"
    />
  </section>
</SectionHeader>
