---
import SectionHeader from "#components/Shared/SectionHeader.astro";
import Accordion from "#components/Shared/Accordion.astro";
import PeopleSection from "#components/Home/PeopleSection.astro";
import InsightSection from "#components/Home/InsightSection.astro";
import ContactForm from "#components/Shared/ContactForm.astro";
import contentfulClient from "#lib/contentfulClient";

const mainHeading = "What Services We Offer";

const entry = await contentfulClient.getEntries({
  content_type: "aboutPage",
});

const about = entry.items as any;

//Assign the first policy to policy as there should only be one
const abouts = about[0];

// Fetch services from Contentful
const entries = await contentfulClient.getEntries({
  content_type: "service",
});

// Sort the entries by the `order` field in the `fields` object
entries.items.sort((a: any, b: any) => a.fields.order - b.fields.order);

// Map the sorted data to the required structure
const services = entries.items.map((item) => ({
  title: item.fields.title,
  description: item.fields.description,
}));
---

<SectionHeader
  title={abouts.fields.title}
  description={abouts.fields.description}
  subtitle={abouts.fields.subtitle}
>
  <Accordion items={services} mainHeading={mainHeading} />

  <div
    class="overflow-x-visible w-screen pt-10 relative left-1/2 -translate-x-1/2"
  >
    <PeopleSection />
    <InsightSection />
    <ContactForm />
  </div>
</SectionHeader>
